.roubine {
  margin-top: 35px;
  margin-bottom: 45px;
  font-family: Arial, Helvetica, sans-serif;
}

.roubine a,
a:hover,
a:focus,
a:active {
  cursor: pointer;
  text-decoration: none;
  z-index: 5;
}
.roubine a h1 {
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.04);

  padding: 0;
  margin: 0;

  font-weight: lighter;
  color: var(--on-background);
}

.roubine-prototype-and-header-container {
  position: relative;
}

.roubine-header-and-arrow-container {
  justify-content: space-between;
  align-items: center;
  padding-right: max(26px, 3.5vw);
}

.roubine-header {
  font-weight: 100;
  z-index: 5;
  display: flex;
  color: var(--on-background);
  align-items: center;
  gap: 0.1vw;
  margin-bottom: 2px;
  margin-left: max(26px, 1.1vw);
  margin-right: max(42px, 0.3vw);
}
.roubine-header h1 {
  font-size: max(2.4em, 5vw);
}
.roubine-header-skills {
}

.description-and-phone-container {
  cursor: pointer;
  padding-right: 55px;
  position: absolute;
  top: 0;
  /* margin-top: 100px; */
  margin-top: clamp(60px, 5.8vw, 102px);
}

.description-mark {
  background-color: var(--coffee-red);
  padding-inline: 3px;
  margin-inline: 6px;
  transform: skewX(-10deg);
  font-family: 'Inter-Light';
  color: inherit;
  display: inline-block;
}

.roubine-card {
  border-radius: 22px;
  border: 1px solid rgba(62, 62, 62, 0.22);
  width: 100%;
  max-height: max(14vw, 100px);
  padding-block: min(1.4vw, 24px);
  padding-inline: min(1.55vw, 30px);
  background-color: #212121;
  color: var(--off-white);

  font-family: 'Inter-Light';
  overflow-y: scroll;
  position: relative;
}
.roubine-card h3 {
  font-size: max(1.3vw, 0.82em);
  margin: 0;
  padding: 0;
  margin-bottom: min(0.66vw, 13px);
}
.roubine-card p {
  font-size: max(1.1vw, 0.9em);
}
.roubine-card .first {
  -webkit-box-shadow: -7px 20px 23px -16px rgba(0, 0, 0, 0.26);
  box-shadow: -7px 20px 23px -16px rgba(0, 0, 0, 0.26);
}
.roubine-card .second {
  -webkit-box-shadow: 7px 20px 23px -16px rgba(0, 0, 0, 0.26);
  box-shadow: 7px 20px 23px -16px rgba(0, 0, 0, 0.26);
}
.roubine-card img {
  position: absolute;
  bottom: 0;
}
.first img {
  width: 70%;
  height: 70%;
  right: 0;
}
.second img {
  width: 48%;
  height: 48%;
  left: 0;
}

.first-phone-container,
.second-phone-container {
  width: 100%;
  z-index: 100;
}
.first-phone-container {
  height: 32vw;
  cursor: pointer;
  margin-top: -6.5vw;
}

.second-phone-container {
  height: 28vw;
  margin-top: -7.6vw;
}

.first-card-container {
  width: 15.2vw;
  cursor: pointer;
  margin-top: 2.2vw;
  position: absolute;
  top: 0;
  left: 42%;
}
.first-card-container li {
  /* margin-block: 8px; */
  margin-block: 0.42vw;
}
.second-card-container {
  width: 13.2vw;
  margin-top: 2.2vw;
  position: absolute;
  /* top: 10%; */
  top: 1.8vw;
  left: 14.2%;
  text-align: right;
}
