.roubine {
  opacity: 0;
  margin-top: 35px;
  margin-bottom: 45px;
}

.roubine a,
a:hover,
a:focus,
a:active {
  cursor: pointer;
  text-decoration: none;
  z-index: 5;
}
.roubine a h1 {
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.04);

  padding: 0;
  margin: 0;

  font-weight: lighter;
  color: var(--on-background);
}

.roubine-prototype-and-header-container {
}

.roubine-header-and-arrow-container {
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
}

.roubine-header {
  font-family: Arial, Helvetica, sans-serif;

  display: flex;
  color: var(--on-background);
  align-items: center;
  gap: 0.1vw;
  margin-bottom: 2px;
  margin-left: max(26px, 1.1vw);
  margin-right: max(12px, 0.3vw);
}
.roubine-header h1 {
  font-size: max(2.4em, 4vw);
}
.roubine-header-skills {
}

.description-and-phone-container {
  cursor: pointer;
  padding-right: 55px;
}
.phone-container {
  margin-top: -60px;
}

.phone {
  /* object-fit: cover; */
}
.phones {
}
