.roubine {
  opacity: 0;
  margin-top: 35px;
  margin-bottom: 45px;
  font-family: Arial, Helvetica, sans-serif;
}

.roubine a,
a:hover,
a:focus,
a:active {
  cursor: pointer;
  text-decoration: none;
  z-index: 5;
}
.roubine a h1 {
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.04);

  padding: 0;
  margin: 0;

  font-weight: lighter;
  color: var(--on-background);
}

.roubine-prototype-and-header-container {
  position: relative;
}

.roubine-header-and-arrow-container {
  justify-content: space-between;
  align-items: center;
  padding-right: 65px;
}

.roubine-header {
  font-weight: 100;
  z-index: 5;
  display: flex;
  color: var(--on-background);
  align-items: center;
  gap: 0.1vw;
  margin-bottom: 2px;
  margin-left: max(26px, 1.1vw);
  margin-right: max(12px, 0.3vw);
}
.roubine-header h1 {
  font-size: max(2.4em, 5vw);
}
.roubine-header-skills {
}

.description-and-phone-container {
  cursor: pointer;
  padding-right: 55px;
  position: absolute;
  top: 0;
  margin-top: 100px;
}

.first-phone-container,
.second-phone-container {
  height: 45vw;
  width: 100%;
  z-index: 100;
}
.first-phone-container {
  cursor: pointer;
  margin-top: -190px;
}
.second-phone-container {
  margin-left: -95px;
  margin-top: -360px;
}

.first-card-container {
  cursor: pointer;
  width: 15.2vw;
  margin-top: 48px;
  position: absolute;
  top: 0;
  right: 58%;
  left: 42%;
}
.second-card-container {
  margin-left: 105px;
  margin-top: -110px;
  text-align: right;
}
